$newsletterColor: #808080;
$secondaryColor: #ce5a55;

.searchContainer {
  padding: 30px;
}

.searchBar {
  height: 50px;
  display: flex;
  .searchBox {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $newsletterColor;
    border: solid 0.5px $newsletterColor;
    background-color: transparent;
    border-radius: 5px;
    text-align: right;
    margin-left: 15px;
    min-width: 150px;
  }
  &.searchPeople {
    color: blue;
  }
}
.foo {
  border: solid red;
}
.searchButton {
  user-select: none;
  cursor: pointer;
  color: white;
  font-size: 2.4rem;
  border: none;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.3s;
  border-radius: 4px;
  background-color: $secondaryColor;
}
